.contact {
  background-color: var(--background-color-1);
  color: var(--first-text-color-1);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  padding: 7rem 0 0 0;
  height: 100%;
  z-index: 10 !important;
  margin-inline: 2rem;

  .contact-heading {
    h2 {
      font-size: 5rem;
      font-weight: 800;
      font-family: var(--poppins-font);
      letter-spacing: -2px;
      @media screen and (max-width: 522px) {
        font-size: 3rem;
      }
    }
  }

  .contact-cards-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0 0 0;
    height: auto;
    position: relative;

    .contact-card {
      position: relative;
      transition: color 0.2s ease;
      cursor: pointer;
      flex-wrap: wrap;
      text-align: center;

      z-index: 3 !important;
      &::before {
        content: "";
        width: 100%;
        z-index: 1 !important;
        position: absolute;
        left: 0;
        top: 0;
        height: 0%;
        background-color: var(--background-color-2);
        transition: height 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }

      &:hover::before {
        height: 100%;
      }

      &:hover {
        color: var(--second-text-color-1);
      }
      &:nth-child(1) {
        border-top: 1px solid #e5e5e02d;
      }
      &:last-child {
        border: none;
      }
      display: flex;
      justify-content: space-between;
      padding: 3rem 2rem;
      text-transform: uppercase;
      border-bottom: 1px solid #e5e5e02d;
      align-items: center;
      font-size: 1.4rem;
      font-weight: bold;
      font-family: var(--poppins-font);
      // letter-spacing: -2px;
      .contact-icon {
        z-index: 2;
        svg {
          width: 3rem;
          height: 3rem;
        }
      }
      .contact-text {
        z-index: 2;
      }
    }
  }
}
