.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 1rem;
  padding: 0 1rem;
  height: 100vh;
  border-radius: 40px 40px 0 0;
  background-color: var(--background-color-2);
  .section-1 {
    width: 100%;
    overflow-y: hidden;
    p {
      font-weight: 800;
      font-size: 1.2rem;
      margin: 1rem 0 0 0;
      opacity: 85%;
    }
    h3 {
      font-weight: 900;
      font-family: var(--switzer-font);
      font-size: 6rem;
      margin: 1rem 0;
      line-height: 60px;
    }

    @media screen and (max-width: 1179px) {
      p {
        font-size: 1.1rem;
      }
      h3 {
        font-size: 5rem;
        line-height: 60px;
      }
    }
    @media screen and (max-width: 861px) {
      p {
        font-size: 1rem;
      }
      h3 {
        font-size: 4rem;
        line-height: 60px;
      }
    }
    @media screen and (max-width: 701px) {
      p {
        font-size: 1rem;
      }
      h3 {
        font-size: 3rem;
        line-height: 60px;
      }
    }
    @media screen and (max-width: 542px) {
      p {
        font-size: 1rem;
      }
      h3 {
        font-size: 2.5rem;
        line-height: 60px;
      }
    }
    @media screen and (max-width: 462px) {
      p {
        font-size: 1rem;
      }
      h3 {
        font-size: 2rem;
        line-height: 60px;
      }
    }
    @media screen and (max-width: 383px) {
      p {
        font-size: 1rem;
      }
      h3 {
        font-size: 1.8rem;
        line-height: 30px;
      }
    }
  }

  .section-2 {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 2rem;
    .link_section {
      p {
        font-family: var(--switzer-font);
        opacity: 90%;
        border-bottom: 1px solid var(--background-color-1);
        padding: 0.5rem 0;
        margin: 0.5rem 0;
      }

      flex-grow: 1;
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        li {
          a {
            color: var(--second-text-color-2);
            font-weight: bold;
            text-decoration: none;
            opacity: 85%;
            &:hover {
              opacity: 100%;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .section-3 {
    padding: 4rem 0;
    p {
      text-align: center;
      font-weight: 700;
    }
  }
}
