.intro-curtain {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-1);
  color: var(--first-text-color-1);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  overflow: hidden;
  animation: curtainSlideOut 0.9s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  animation-delay: 2.6s;

  h1 {
    font-size: 3rem;
    font-weight: normal;
    text-transform: capitalize;
    font-family: var(--poppins-font);
    letter-spacing: -2px;
    font-weight: 700;
    &::before {
      content: "• ";
    }
  }
  p {
    letter-spacing: -1px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3rem;
  }
}

@keyframes curtainSlideOut {
  0% {
    border-radius: 0;
    height: 100vh;
  }
  100% {
    height: 00vh;
  }
}

@keyframes textUnderline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
