.navbar {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 0.1rem;
  justify-content: space-between;
  align-items: center;
  .section-1 {
    img {
      opacity: 80%;
      border-radius: 10px;
    }
  }
  .section-2 {
    .navbar_links {
      ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 8px;

        .navbar_link {
          @media screen and (max-width: 367px) {
            display: none;
          }
        }
        li {
          a {
            color: var(--second-text-color-2);
            font-weight: bold;
            text-decoration: none;
            opacity: 85%;
            &:hover {
              opacity: 100%;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
