.projects {
  background-color: var(--background-color-1);
  color: var(--first-text-color-1);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  padding: 7rem 1rem;
  height: 100%;
  position: relative;
  .parallax-rocket {
    z-index: 1;
    top: 5%;
    right: 2%;
    position: absolute;
  }
  .projects-heading {
    h2 {
      font-size: 5rem;
      font-weight: bold;
      font-family: var(--switzer-font);
      @media screen and (max-width: 522px) {
        font-size: 3rem;
      }
    }
  }

  .projects-content {
    z-index: 2;
    margin-inline: 1rem;
    .projects-cards-lists {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .project-card {
        margin-inline: auto;
        overflow: hidden !important;
        display: flex;
        border: 1px solid #ddddd22e;
        border-radius: 10px;
        justify-content: space-between;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
        // width: 80%;
        color: var(--first-text-color-1);
        text-decoration: none;
        padding: 2rem;
        cursor: pointer !important;
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
        @media screen and (max-width: 922px) {
          flex-wrap: wrap !important;
        }
        .project-card-image {
          img {
            border-radius: 15px;
            object-fit: cover;
            max-width: 100%;
            height: auto;
          }
        }
        .project-card-content {
          display: flex;
          flex-direction: column;
          position: relative;
          .project-card-heading {
            font-family: var(--switzer-font);
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;
          }
          .project-card-content {
            font-size: 14px;
            opacity: 85%;
          }
          .project-card-link {
            cursor: none !important;
          }
          .project-card-numbering {
            font-family: var(--switzer-font);
            font-size: 3rem;
            font-weight: 900;
            opacity: 10%;
          }
        }
      }
    }
  }
}

.projectCardCursor {
  width: 50px;
  height: 50px;
  background-color: var(--orange-color);
  border-radius: 50%;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
