.projects {
  background-color: var(--background-color-1);
  color: var(--first-text-color-1);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  padding: 7rem 1rem;
  height: 100%;
  position: relative;

  .view-all-projects-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .parallax-rocket {
    z-index: 1;
    top: 5%;
    right: 2%;
    position: absolute;
  }

  .projects-heading {
    h2 {
      font-size: 5rem;
      font-weight: 800;
      font-family: var(--poppins-font);
      text-wrap: nowrap;

      @media screen and (max-width: 522px) {
        font-size: 3rem;
      }
    }
  }

  .projects-content {
    z-index: 2;
    margin-inline: 1rem;

    .projects-cards-lists {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .project-card {
        &:nth-child(3) {
          flex-direction: row-reverse !important;
        }
        &:nth-child(5) {
          flex-direction: row-reverse !important;
        }

        margin-inline: auto;
        overflow: hidden !important;
        display: flex;
        border: 1px solid #ddddd22e;
        border-radius: 10px;
        justify-content: space-between;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
        color: var(--first-text-color-1);
        text-decoration: none;
        padding: 1rem;
        cursor: none !important;

        @media screen and (max-width: 922px) {
          flex-wrap: wrap !important;
          gap: 1rem;
        }

        .project-card-image {
          overflow: hidden;
          img {
            border-radius: 10px;
            object-fit: cover;
            max-width: 100%;
            height: auto;
          }
        }

        .project-card-content {
          display: flex;
          flex-direction: column;
          position: relative;
          width: 100%;
          .project-card-link {
            cursor: none;
          }

          .project-card-heading {
            font-weight: 700;
            font-family: var(--poppins-font);
            font-size: 2rem;
            text-transform: uppercase;
          }

          .project-card-content {
            font-size: 14px;
            opacity: 85%;
          }

          .project-card-numbering {
            font-family: var(--poppins-font);
            font-size: 3rem;
            font-weight: 900;
            opacity: 10%;
          }
        }
      }
    }
  }
}
