.services {
  background-color: var(--background-color-2);
  color: var(--second-text-color-1);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  padding: 7rem 0;
  height: 100%;
  position: relative;

  .services-heading {
    z-index: 4 !important;
    h2 {
      font-size: 5rem;
      font-weight: 800;
      letter-spacing: -2px;
      font-family: var(--poppins-font);
      @media screen and (max-width: 522px) {
        font-size: 3rem;
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-40%);
    }
  }
  .services-tilted-text {
    display: flex;
    flex-direction: row;
    transform: rotate(-1deg);
    width: 101%;
    overflow: hidden;
    background-color: var(--orange-color);
    gap: 3rem;

    .scrolling-text {
      display: flex;
      flex-direction: row;
      animation: scroll 30s linear infinite;
      gap: 1rem;
      > div {
        display: flex;
      }
    }
    p {
      display: flex;
      color: var(--white-color);
      padding: 1rem 0;
      margin-inline: auto;
      font-size: 2rem;
      flex-wrap: nowrap;
      word-wrap: normal;
      text-wrap: nowrap;
      @media screen and (max-width: 1234px) {
        font-size: 1.6rem;
      }
      @media screen and (max-width: 932px) {
        font-size: 1.2rem;
      }
      @media screen and (max-width: 700px) {
        font-size: 1rem;
      }
    }
  }
  .services-cards-lists {
    display: flex;
    z-index: 4 !important;
    flex-direction: column;
    width: 100%;
    .service-card {
      &:nth-child(1) {
        border-top: 1px solid #39363238;
      }
      border-bottom: 1px solid #39363238;
      display: flex;
      padding: 7rem 1rem;
      position: relative;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      @media screen and (max-width: 725px) {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
      }
      .service-heading {
        height: 100%;
        width: 60%;
        h3 {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 800;
          font-family: var(--poppins-font);
          font-size: 2.2rem;
          text-transform: uppercase;
        }
        p {
          opacity: 85%;
        }
      }
      .service-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          li {
            font-size: 1.4rem;
            opacity: 75%;
          }
        }
        .service-number {
          position: absolute;
          font-size: 6rem;
          font-family: var(--poppins-font);
          opacity: 20%;
          right: 10px;
          bottom: 0px;
        }
      }
    }
  }
}
