$color_1: var(--font-color);
$color_2: var(--heading-color);
$color_3: #aaaab5;

.blog-div {
  overflow-x: hidden;
  padding-top: 6rem;
  display: flex;
  justify-content: left;

  .blog-headers {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 0.4rem;
    justify-content: left;
    width: 90%;
  }
  flex-direction: column;
  margin-bottom: 2rem;
  transition: 0.4s ease-in-out !important;
  .blog-search {
    background-color: #0e0e0e68;
    border: 2px solid #ffffff0c;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    &::selection {
      background-color: #0073ff;
      color: #fff;
    }
    &:focus {
      outline: none !important;
    }
    width: 80%;
  }
}
.blog-header {
  color: $color_1;
  transition: 0.4s ease-in-out !important;
  font-size: 1.4rem;
  font-weight: 100;
  text-align: left;
}
.blog-title {
  color: $color_2;
  transition: 0.4s ease-in-out !important;
  h1 {
    font-size: 2.7rem;
    font-family: var(--heading-font-family);
    font-weight: 900 !important;
  }
}
.blog-text {
  text-align: left;
  padding-top: 1rem;
  color: $color_1;
  opacity: 70%;
  font-size: 1rem;
  p {
    font-weight: 400;
    color: #40c9ff;
    margin-top: 1rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
.blog-header-text {
  color: $color_1;
  opacity: 90%;
  font-weight: 400;
}
.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.blog-container > div {
  display: flex;
  flex: auto;
  flex-grow: 1;
  flex-flow: column;
  width: max-content;
}

.blog-card {
  --size: 6rem;
  --transition-duration: 1s;
  --transition-easing: ease-out;
  overflow: hidden;
  display: flex;
  padding: 2rem;
  border: 02px solid #ababab28;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  background-color: #45454516;
  flex-direction: column;
  text-align: left;
  transition: 0.3s ease-in-out !important;
  &::before {
    content: "";
    background: -moz-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.09) 50%,
      rgba(128, 186, 232, 0) 99%,
      rgba(125, 185, 232, 0) 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(50%, rgba(255, 255, 255, 0.09)),
      color-stop(99%, rgba(128, 186, 232, 0)),
      color-stop(100%, rgba(125, 185, 232, 0))
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.09) 50%,
      rgba(128, 186, 232, 0) 99%,
      rgba(125, 185, 232, 0) 100%
    ); /* Chrome10+,Safari5.1+ */

    width: 60%;
    height: 100%;
    top: 0%;
    left: -125%;
    transform: skew(45deg);
    position: absolute;
    transition: left 900ms ease;
    
  }
  &:hover {
    transform: translateY(-25%);

    &::before {
      left: 150%;
    }
  }
  a {
    color: $color_1;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #40c9ff;
    &:hover {
      opacity: 100%;
    }
  }
  .blog-name {
    padding-top: 1rem;
  }

  img {
    &:hover {
      color: $color_3;
      opacity: 100%;
    }
    transition: opacity 0.3s ease;
    opacity: 0.7;
    padding: 1rem;
  }
  .blog-date {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1222px) {
  .blog-title {
    color: $color_2 !important;
  }
}
@media screen and (max-width: 800px) {
  .blog-card {
    display: flex;
    flex-direction: column;
  }
  .blog-title {
    font-size: 1.4rem !important;
    color: $color_2 !important;
  }
}
@media screen and (max-width: 650px) {
  .blog-header {
    color: $color_2;
    font-size: 1.3rem;
    color: $color_1 !important;
  }

  .blog-card {
    display: flex;
  }
  .blog-title {
    font-size: 1.2rem !important;
    color: $color_2 !important;
  }
}

.post-tag {
  background-color: #00000017;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-top: 0.7rem;
  margin-right: 0.7rem;
  border-radius: 5px;
  border: 1px #aaaab579 solid;
}
