.course-snackbar {
  z-index: 99999;
  bottom: 10px;
  font-size: 0.9rem;
  width: fit-content;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  padding-right: 1rem;
  padding-left: 0.8rem;
  border-radius: 0 5px 5px 0;
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  color: #fff;
  background-color: rgb(119, 51, 228);
  a {
    color: #fff;
  }
  .course-snackbarClose {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    border: none;
  }
}
