.custom_cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  z-index: 9999 !important;
  border-radius: 50%;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.473);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform ease 0.2s;
}
