@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

.eyes-follow-tired {
  font-family: Arial, sans-serif;
  display: flex;
  margin-top: -1rem;
  margin-bottom: 4rem;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .angry-symbol {
      position: absolute;
      z-index: 99999;
      font-size: 3rem;
      rotate: (20deg);
      top: -4rem;
      right: -5rem;
    }
    .eyes {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .eye {
        border-radius: 50%;
        border: 5px solid #1d1813;
        height: 90px;
        width: 90px;
        background-color: #f3efefd9;

        .pupil {
          position: absolute;
          background-color: #382e25;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          left: 50px;
          top: 35px;
        }
      }

      #left-eye {
        position: relative;
      }
      #right-eye {
        position: relative;
      }
      .left-eyebrow {
        width: 70px;
        height: 10px;
        background-color: #f3efefd9;
        position: absolute;
        top: -2rem;
        left: 0;
        transform: rotate(-10deg);
      }
    }

    @keyframes shake {
      0% {
        transform: translate(1px, 1px) rotate(0deg);
      }
      10% {
        transform: translate(-1px, -2px) rotate(-1deg);
      }
      20% {
        transform: translate(-3px, 0px) rotate(1deg);
      }
      30% {
        transform: translate(3px, 2px) rotate(0deg);
      }
      40% {
        transform: translate(1px, -1px) rotate(1deg);
      }
      50% {
        transform: translate(-1px, 2px) rotate(-1deg);
      }
      60% {
        transform: translate(-3px, 1px) rotate(0deg);
      }
      70% {
        transform: translate(3px, 1px) rotate(-1deg);
      }
      80% {
        transform: translate(-1px, -1px) rotate(1deg);
      }
      90% {
        transform: translate(1px, 2px) rotate(0deg);
      }
      100% {
        transform: translate(1px, -2px) rotate(-1deg);
      }
    }
    @keyframes spread {
      0% {
        transform: translate(-50%, -50%) scaleY(-1);
      }
      100% {
        transform: translate(-50%, -50%) scaleY(0);
      }
    }
  }
}

.ouch-text {
  display: flex;
  justify-content: center;
  margin-top: -2.8rem;
  margin-left: -2rem;
  position: absolute;
  margin-bottom: 4rem;
  p {
    transform: rotate(-10deg);
    color: white;
    font-size: 2rem;
    font-weight: 900;
    span {
      font-family: "Archivo Black", sans-serif;
    }
    span:nth-child(1) {
      font-size: 2.4rem;
    }
    span:nth-child(5) {
      font-size: 2.4rem;
    }
  }
}
