$color_1: var(--font-color);
$color_2: #fff;

.footer-div {
  display: flex;
  font-size: 15px;
  margin: 3rem 1rem !important ;
  border-radius: 15px;
  padding: 3rem 1rem;
  justify-content: space-between;
  align-items: center;

  background-color: #16131b;
  @media screen and (max-width: 972px) {
    gap: 1.3rem;
    align-items: center;
    text-align: left;
    justify-content: center;
    flex-direction: column;

    .footer-text {
      text-align: left;
    }
  }
  @media screen and (max-width: 960px) {
    flex-wrap: wrap;
  }
  .footer-text {
    color: $color_1;
    width: 16rem;
    margin: auto !important;
    text-align: justify;
    @media screen and (max-width: 972px) {
      width: 18rem;
      text-align: center;
    }
    @media screen and (max-width: 385px) {
      width: auto;
    }
    @media screen and (max-width: 960px) {
      text-align: center;
    }
  }
  .footer-links {
    width: 19rem;
    margin: 0 auto !important;
    text-align: center;
    @media screen and (max-width: 380px) {
      width: 10rem;
      margin: auto;
    }
    @media screen and (max-width: 385px) {
      width: auto;
    }
    ul {
      align-items: center;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 14px;
      @media screen and (max-width: 380px) {
        gap: 10px;
        font-size: 14px;
      }
      li {
        font-weight: 400;
        list-style: none;
        a {
          font-weight: 500;
          color: $color_2;
          text-underline-offset: 4px;
        }
      }
    }
  }
  a {
    font-weight: 500;
    color: $color_2;
  }
}
