.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  background-color: #16131b;
  border-radius: 10px;
  padding: 2rem;
  button {
    &:focus {
      outline: none;
      border: none;
    }
    border: none;
    cursor: pointer;
  }
  .nav_title {
    a {
      font-size: 1.1rem;
      color: white;
      text-decoration: none;
    }
  }
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    li {
      a {
        color: white;
        font-size: 1rem;
        text-decoration: none;
        padding: 0.4rem 0.6rem;
        border-radius: 4px;
        transition: 300ms all ease-in-out;
        &:hover {
          background-color: rgba(185, 185, 185, 0.068);
        }
      }
    }
  }

  .go-back-btn {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    background-color: #cccccc13;
    color: white;
    padding: 0.3rem 0.7rem 0.3rem 2rem;
    border-radius: 50rem;
    justify-content: center;
    position: relative;
    font-size: 15px;
    svg {
      transition: all 0.4s ease;
      left: 14px;
      position: absolute;
    }
    &:hover {
      svg {
        left: 10px;
      }
    }
    span {
      height: 100%;
    }
    @media screen and (max-width: 460px) {
      font-size: 13px;
      margin-right: -10px;
      margin-left: 25px;
    }
  }
}

.sidebar {
  position: fixed;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  background-color: #000000c6;
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  transition: 0.5s;
  border-right: 1px #100d14 solid;
  z-index: 10000;

  button {
    width: fit-content;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
      border: none;
    }
  }
  .sidebar_close_btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    position: absolute;
    right: 10%;
  }

  .sidebar_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sidebar_link {
      padding: 0.3rem;
      border-radius: 5px;
      font-size: 2.7rem;
      margin: 0.2rem auto;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.805);
      background-color: transparent;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navbar_sidebar_toggle {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  &:hover {
    background-color: transparent;
  }
}
