$color_1: #f0edf3;
$color_2: #f0edf3;
$color_3: #aaaab5;
$color_4: #40c9ff;
$color_5: #3dbbed;

.project-div {
  padding-top: 6rem;
  display: flex;
  overflow-x: hidden;
  align-items: left;
  margin-bottom: 2rem;
  flex-direction: column;
  text-align: left;
  transition: 0.4s ease-in-out !important;
}

.project-headers {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: left;
  .featured-section {
    h2 {
      color: $color_1;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
    }
    div {
      margin: 1rem 0;
    }
    .project-card {
    
      .project-header {
        margin: 10px 0;
      }
    }
  }
}

.project-title {
  color: $color_1;
  transition: 0.4s ease-in-out !important;
  h1 {
    font-size: 2.7rem;
    font-family: "Poppins", sans-serif;
  }
}
.project-header {
  color: $color_2;
  margin-bottom: 10px;
  transition: 0.4s ease-in-out !important;
  span {
    font-size: 1.3rem;
    font-weight: 500 !important;
  }
}
.project-header-text {
  opacity: 90%;
  color: $color_2;
}

.project-text {
  color: $color_2;
  font-size: 15px;
  margin-bottom: 30px;
  font-weight: 400;
  opacity: 70% !important;
  color: #f0edf3;
}

.project-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  flex: auto;
  text-align: left;
  transition: 0.4s ease-in-out !important;
}

.project-card {
  opacity: 0;
  overflow: hidden;
  backdrop-filter: blur(10px);
  transform: translateX(-80px);
  position: relative;
  border-radius: 12px;
  flex-grow: 1;
  flex-basis: 20rem;
  padding: 2rem;
  // height: 10rem;
  transition: 0.3s ease-in-out !important;
  background-color: #18151d;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;

  &:hover::before {
    opacity: 1;
  }

  &::before,
  &::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }

  &::before {
    z-index: -1 !important;

    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
  }

  &::after {
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.3),
      transparent 40%
    );
    z-index: -1 !important;
  }

  a {
    color: $color_4;

    transition: 0.3s ease-in-out;
    text-decoration: none;
    &:hover {
      color: $color_5;
      opacity: 100%;
    }
  }
  .project-name {
    color: #f0edf3;
    padding-top: 1rem;
  }

  .project-stack {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #cccccc67;
    font-size: 0.8rem;
  }

  .project-link {
    position: absolute;
    bottom: 10%;
  }

  img {
    &:hover {
      color: $color_3;
      opacity: 100%;
    }
    transition: opacity 0.3s ease;
    opacity: 0.7;
    padding: 1rem;
  }
}

@media screen and (max-width: 1222px) {
  .project-title {
    color: $color_1 !important;
  }
  .project-text {
    color: $color_2;
    font-weight: 400;
    font-size: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .project-title {
    font-size: 1.3rem !important;
    color: $color_1 !important;
  }
  .project-text {
    color: $color_2;
    font-weight: 400;
    font-size: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .project-header {
    color: $color_1;
    font-size: 1.4rem;
    color: $color_2 !important;
  }

  .project-title {
    font-size: 1.2rem !important;
    color: $color_1 !important;
  }
  .project-text {
    color: $color_2;
    font-weight: 400;
    font-size: 1rem;
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  width: 80%;
  a {
    flex-grow: 1;
  }
}
