.heading {
  border-radius: 12px;
  margin: 8px;
  position: relative;
  font-size: 45px;
  background: linear-gradient(40deg, #00000089, #ffffff3b, #00000089);
  background-repeat: no-repeat;
  background-size: 70%;
  animation: animate 1.2s infinite;

  p {
    opacity: 0 !important;
  }
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.description {
  border-radius: 12px;
  margin: 8px;
  position: relative;
  font-size: 45px;
  background: linear-gradient(40deg, #00000089, #ffffff3b, #00000089);
  background-repeat: no-repeat;
  background-size: 70%;
  animation: animate 1.2s infinite;

  p {
    opacity: 0 !important;
  }
}

.stars {
  border-radius: 4px;
  margin: 8px;
  position: relative;
  font-size: 45px;
  background: linear-gradient(20deg, #00000089, #ffffff3b, #00000089);
  background-repeat: no-repeat;
  background-size: 70%;
  animation: animate 1.2s infinite !important;

  p {
    opacity: 0 !important;
  }
}
