$color_1: #fff;
$color_2: var(--font-color);
$color_3: #ccc;
$color_4: gold;
$color_5: #ffffff89;
$color_6: var(--heading-color);
$color_7: #ffffffc7;
$color_8: #ffffff9f;
$font-family_1: var(--body-font-family);
$background-color_1: rgba(255, 255, 255, 0.045);
$background-color_2: var(--showcase-h-color);
$background-color_3: #131314;

.review-form-div {
  color: $color_1;
  padding: 10px;
  border-radius: 12px;
  max-width: 400px;
  height: 100vh;
  font-family: $font-family_1 !important;
  margin: 3rem auto;
}
.review-form-heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: $color_6;
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: 900 !important;
  padding-top: 2rem;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  &:focus {
    outline: none !important;
  }
  background-color: transparent;
  color: $color_2 !important;
  border: 2px solid #ffffff0c;
  backdrop-filter: blur(8px);
  padding: 1rem;
  margin-bottom: 8px;
  border-radius: 5px;
  font-family: $font-family_1;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
textarea::selection {
  background-color: transparent;
}
input::selection {
  background-color: transparent;
}

textarea {
  &:focus {
    outline: none !important;
  }
  background-color: transparent;
  color: $color_2 !important;
  padding: 1rem;
  border: 2px solid #ffffff0c;
  backdrop-filter: blur(8px);
  border-radius: 12px;
  margin-bottom: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  font-family: $font-family_1;
  height: 7rem;
}
.rating {
  display: flex;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.star {
  color: $color_3;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-right: 3px;
  font-size: 18px;
}
.star.active {
  color: $color_4;
  -webkit-box-shadow: 0px 0px 123px 3px rgba(252, 255, 46, 0.57);
  -moz-box-shadow: 0px 0px 123px 3px rgba(252, 255, 46, 0.57);
  box-shadow: 0px 0px 123px 3px rgba(252, 255, 46, 0.57);
}
button[type="submit"] {
  width: fit-content;
  font-size: 1rem !important;
}
.reviews-div {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
  z-index: 1;
  gap: 5rem;
  .reviews-header {
    width: 30rem;
    h2 {
      font-size: 3rem;
      @media screen and (max-width: 1078px) {
        font-size: 3rem;
        text-align: center;
        margin: 0;
      }
      @media screen and (max-width: 700px) {
        font-size: 2rem;
      }
    }
  }

  @media screen and (max-width: 1450px) {
    flex-direction: column;
    .reviews-header {
      width: fit-content;
      text-align: center;
      font-size: 3rem;
    }
  }
}
.reviews-headings {
  font-family: var(--heading-font-family);
  font-weight: 900 !important;
  color: $color_6;
  font-size: 2rem;
}
.reviews-text {
  margin-bottom: 2rem;
  color: $color_2;
  opacity: 80%;
  a {
    color: $color_7;
    padding: 0.2rem;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
    &:hover {
      border-radius: 161616;
      color: $color_8;
      background-color: $background-color_1;
    }
  }
}
.reviews-container {
  opacity: 0.8;
  justify-content: center;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  display: flex;
  scrollbar-width: thin;
  margin-bottom: 2rem !important;
  &::-webkit-scrollbar {
    height: 0.3em;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #39393986;
    border-radius: 12px;
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  animation: fadeIn 1s forwards;
  font-family: $font-family_1 !important;
  flex: 0 0 250px;
  padding: 1rem;
  margin: 1rem 1rem;
  border-radius: 12px;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
  height: 13rem;
  transform-style: preserve-3d;
  background-color: #121212;
  backdrop-filter: blur(8px);
  h3 {
    font-size: 1.3rem;

    font-family: $font-family_1;
    margin-bottom: 0.5rem;
    animation: fadeIn 1s forwards;
    color: $color_1;
    text-transform: capitalize;
    font-weight: 200;
  }
  p {
    color: $color_5;

    font-family: $font-family_1;
    animation: fadeIn 1s forwards;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  &::after {
    content: "";
    height: 70px;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, mediumslateblue, transparent);
  }

  &::after {
    top: 65%;
    opacity: 0;
  }

  &:hover::after {
    top: 25%;
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.review-card-star {
  animation: fadeIn 1s forwards !important;
  color: $color_4;
}
@media screen and (max-width: 480px) {
  .review-form-heading {
    font-size: 1.4rem;
  }

  .review-card {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .reviews-container {
    width: 90vw;
    overflow-x: visible;
    scrollbar-width: none;
  }
}
@media screen and (max-width: 768px) {
  .reviews-container {
    width: 90vw;
    overflow-x: visible;
    scrollbar-width: none;
  }
  .reviews-slider {
    scroll-snap-type: none;
    padding: 0;
  }
  .review-card {
    flex: 4 4 4;
    margin-right: 1rem;
  }
}

@mixin center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-backdrop {
  @include center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-box {
  background-color: $background-color_3;
  border-radius: 12px;
  padding: 30px;
  width: 16rem;
  text-align: center;
  p {
    color: $color_3;
    font-family: $font-family_1 !important;
  }
}

.dialog-backdrop-review {
  @include center;
  background-color: rgba(0, 0, 0, 0.652);
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-box-review {
  background-color: $background-color_3;
  border-radius: 12px;
  padding: 20px;
  width: 13rem;
  text-align: center;
  p {
    color: $color_3;
    font-family: $font-family_1 !important;
  }
}

.review-form-text {
  opacity: 90%;
  margin-top: -2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: $color_2;
}

.dialog-box-cross-review button {
  svg {
    transition: 0.2s all ease-in-out;
  }
  background-color: transparent;
  border: none;
  display: flex;
  float: left;
  padding: 5px;
  margin-top: 0rem;
  margin-right: 0.5rem;
  border-radius: 2px;
  border: 2px solid #313333;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.dialog-box-cross-review button:hover {
  background-color: #ffffff1c;
  border: 2px solid red;
}
