$color_1: var(--showcase-h-color);
$color_2: var(--font-color);
$color_3: white;

@keyframes go-down {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.showcase {
  overflow-x: hidden !important;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out !important;

  .navbar {
    display: flex;
    margin-bottom: 7rem;
    justify-content: center;
    align-items: center;
    .nav-items {
      ul {
        display: flex;
        list-style: none;
        a {
          color: $color_2;
          text-decoration: none;
          transition: 0.2s ease-in;
          &:hover {
            color: $color_3;
          }
        }
      }
      li {
        padding: 0.8rem;
      }
    }
  }
}
.showcase-about {
  img {
    margin-top: 2rem;
    opacity: 0;
    transition: all ease-in-out 0.4s;
    animation: go-down 1s infinite;
  }
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.showcase-h1 {
  animation: title 1.5s ease-out forwards;
  font-family: var(--nunito-font-family) !important;

  transition: 0.2s ease-in-out;
  font-size: 10rem;
  color: $color_1;
  font-weight: 900 !important;
}

@keyframes title {
  0% {
    text-shadow: 0 0 0;
    letter-spacing: 1em;
    opacity: 0;
    font-size: 15rem;
  }
  25% {
    opacity: 0;
    font-size: 15rem;
  }
  80% {
    opacity: 100%;
  }
  90% {
    text-shadow: rgba(158, 158, 158, 0.543) 1px 0 15px;
    opacity: 100%;
    letter-spacing: -0.3rem;
  }
  100% {
    letter-spacing: -0.3rem;

    text-shadow: rgba(158, 158, 158, 0.543) 1px 0 15px;
  }
}

.showcase-p {
  display: flex;
  text-align: left !important;
  flex-wrap: wrap;
  letter-spacing: -0.1rem;
  margin: 0 0.8rem;
  font-size: var(--fontSize1);
  color: $color_2;
}
@media screen and (max-width: 800px) {
  .showcase-h1 {
    font-size: var(--fontSize8);
  }
  .showcase-about {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .showcase-h1 {
    font-size: var(--fontSize6);
  }
  .showcase-about {
    margin-top: 1rem;
  }
  .showcase-p {
    font-size: 0.8rem;
  }
}

.showcase-h1 {
  position: relative;
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.showcase-h1:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.showcase-h1:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.showcase-p {
  overflow: hidden;
}

.showcase-contact-text {
  font-family: var(--heading-font-family);
  display: flex;
  justify-content: left;
  margin: initial;
  margin-left: 1rem;
  padding-left: 1rem !important;
  margin-top: 5rem;
  align-items: left;
  text-align: left;
  font-size: var(--fontSize3);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.137);
  @media screen and (max-width: 1078px) {
    font-size: var(--fontSize3);
  }
  @media screen and (max-width: 700px) {
    font-size: var(--fontSize2);
  }
}
.showcase-p {
  justify-content: left;
  text-align: left;
  font-family: var(--heading-font-family);
  padding-left: 1rem !important;
  display: flex;
  line-height: normal;
  justify-content: left;
  align-items: left;
  margin-top: 15rem;
  margin-bottom: 10rem;
  text-align: left;
  font-size: var(--fontSize3);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.137);
  @media screen and (max-width: 1078px) {
    font-size: var(--fontSize3);
  }
  @media screen and (max-width: 700px) {
    font-size: var(--fontSize2);
  }
}
.showcase-contact-text-2 {
  font-family: var(--heading-font-family);
  display: flex;
  justify-content: left;
  padding-left: 1rem !important;
  align-items: left;
  margin-left: 1rem;
  text-align: left;
  font-size: var(--fontSize2);
  font-weight: 700;
  .twitterLink {
    color: rgb(12, 138, 255);
  }
  .githubLink {
    color: rgba(255, 255, 255, 0.603);
  }
  a {
    text-decoration: underline;
  }
  @media screen and (max-width: 1078px) {
    font-size: var(--fontSize2);
  }
  @media screen and (max-width: 700px) {
    font-size: 1.5rem;
  }
}

.showcase-langs {
  opacity: 0.4;
  .language {
    text-shadow: rgba(255, 255, 255, 0.68) 0px 0px 39px;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
  p {
    position: absolute;
  }

  .showcase-lang1 {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .showcase-lang2 {
    position: absolute;
    top: 42%;
    left: 70%;
  }
  .showcase-lang3 {
    position: absolute;
    top: 80%;
    left: 30%;
  }
  .showcase-lang4 {
    position: absolute;
    top: 30%;
    left: 20%;
  }
  .showcase-lang5 {
    position: absolute;
    top: 60%;
    left: 10%;
  }
  .showcase-lang6 {
    position: absolute;
    top: 20%;
    left: 80%;
  }
  .showcase-lang7 {
    position: absolute;
    top: 90%;
    left: 90%;
  }
}
