$color_1: var(--showcase-h-color);
$color_2: var(--font-color);
$color_3: white;

@keyframes go-down {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.showcase-go-down-arr {
  margin-top: 6rem;
  animation: go-down 0.9s infinite;
}

.showcase {
  overflow-x: hidden;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out !important;

  .navbar {
    display: flex;
    margin-bottom: 7rem;
    justify-content: center;
    align-items: center;
    .nav-items {
      ul {
        display: flex;
        list-style: none;
        a {
          color: $color_2;
          text-decoration: none;
          transition: 0.2s ease-in;
          &:hover {
            color: $color_3;
          }
        }
      }
      li {
        padding: 0.8rem;
      }
    }
  }
}

.showcase-header {
  display: flex;
  .showcase-header-hero {
    display: flex;
    gap: 6rem;
    flex-direction: row-reverse;
    margin-bottom: 8rem;
    @media screen and (max-width: 1070px) {
    }
    @media screen and (max-width: 940px) {
      margin: 0 2rem;
    }
    @media screen and (max-width: 910px) {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
  .showcase-header-image {
    img {
      border-radius: 1rem;
    }
  }

  .showcase-header-title {
    display: flex;
    align-items: center;
    gap: 16rem;
    flex-wrap: wrap;
    text-align: left;
    margin: 2rem;
    @media screen and (max-width: 870px) {
      display: flex;
      flex-direction: column;
      margin-top: -2rem;
      gap: 4rem;
    }

    .showcase-btn {
      display: flex;
      gap: 10px;
      margin: auto 1rem;
      a {
        flex-grow: 1;
      }
    }

    .showcase-section-1 {
      margin: auto;
      width: 20rem;
    }
    p {
      color: #ccc;
      font-family: "JetBrains Mono", "poppins";
      font-size: 1.7rem;
      font-weight: 900;
      margin: auto auto;
    }
    .showcase-header-about {
      font-size: 16px;
      text-align: justify;
      font-family: "poppins", sans-serif;
      font-weight: normal;
    }
    .showcase-header-subtitle {
      margin: auto 1rem;
    }
    .showcase-header-name {
      overflow-x: hidden !important;
      margin: auto;
      display: flex;
      justify-content: space-around;
      p {
        color: white;
        margin: inherit auto !important;
        display: flex;
        flex-direction: column;
        font-size: 80px;
        margin-top: -2rem;
        font-weight: 900;
        font-family: "Poppins", sans-serif;
        letter-spacing: -0.1rem;
        @media screen and (max-width: 400px) {
          font-size: 75px;
          margin: inherit 0 !important;
          margin-left: 0 !important;
        }
      }
      @media screen and (max-width: 400px) {
        display: flex;
        justify-content: center;
      }
    }
    h1 {
      color: white;
      overflow-x: hidden !important;
      width: fit-content;
      display: flex;
      flex-direction: column;
      font-size: 80px;
      font-weight: 900;
      font-family: "Poppins", sans-serif;
      letter-spacing: -0.1rem;
      span {
        &:nth-child(1) {
          margin-bottom: -2rem;
        }
        &:nth-child(2) {
        }
      }
      @media screen and (max-width: 400px) {
        margin: auto;
      }
    }
  }

  .showcase-header-buttons {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    a {
      margin: 0;
    }
    div {
      margin: 0;
    }
  }
}

.showcase-about {
  img {
    margin-top: 2rem;
    opacity: 0;
    transition: all ease-in-out 0.4s;
    animation: go-down 1s infinite;
  }
  overflow-x: hidden !important;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcase-p {
  display: flex;
  text-align: center !important;
  flex-wrap: wrap;
  overflow-x: hidden !important;
  letter-spacing: -0.1rem;
  margin: 0 0.8rem;
  font-size: var(--fontSize1);
  color: $color_2;
}
@media screen and (max-width: 800px) {
  .showcase-about {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .showcase-about {
    margin-top: 1rem;
  }
  .showcase-p {
    font-size: 0.8rem;
  }
}

.showcase-p {
  overflow: hidden !important;
}

.showcase-contact-text {
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: left;
  margin-top: 15rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0 1rem !important;
  overflow: hidden;
  align-items: left;
  text-align: left;
  font-size: var(--fontSize2);
  font-weight: 700;
  color: white;
  transition: 0.3s all ease;
  &:hover {
    color: white;
  }
  @media screen and (max-width: 1078px) {
    font-size: var(--fontSize2);
  }
  @media screen and (max-width: 700px) {
    font-size: var(--fontSize2);
  }
}
.showcase-p {
  padding: 0 1rem !important;
  display: flex;
  overflow-x: hidden !important;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 10rem;
  text-align: center;
  font-size: var(--fontSize2);
  font-weight: 700;
  color: white;
  @media screen and (max-width: 1078px) {
    font-size: var(--fontSize2);
  }
  @media screen and (max-width: 700px) {
    font-size: var(--fontSize2);
  }
  transition: 0.3s all ease;
  &:hover {
    color: white;
  }
}
.showcase-contact-text-2 {
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: left;
  padding: 0 1rem !important;
  align-items: left;
  margin: 0rem -1rem;
  margin-top: 1rem;
  margin-bottom: 8rem;
  text-align: left !important;
  font-size: var(--fontSize2);
  font-weight: 700;

  .twitterLink {
    color: rgb(12, 138, 255);
  }
  .githubLink {
    color: rgba(255, 255, 255, 0.603);
  }
  a {
    text-align: left;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 0.3rem;
    }
  }
  @media screen and (max-width: 1078px) {
    font-size: var(--fontSize2);
  }
  @media screen and (max-width: 700px) {
    font-size: 1.5rem;
  }
}

.scrolling_text {
  width: 100%;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
}
.text {
  font-size: 45px;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-transform: uppercase;
  animation: animate_text 40s linear infinite;
}
.text span {
  margin: 0 5px;
}

@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.text-only-outline {
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@supports ((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
  .text-only-outline {
    // font-style: italic;

    font-family: "Poppins", sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.69);
    text-stroke: 1px rgba(255, 255, 255, 0.69);
    text-shadow: none;
  }
}

.showcase-stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-lets-connect-span {
  color: #ac9180;
  font-weight: bold;
  font-style: italic;
}
