:root {
  --satoshi-font: "Satoshi", sans-serif;
  --switzer-font: "Switzer", sans-serif;
  --clash-font: "Clash Grotesk", sans-serif;
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --background-color-1: rgb(17, 17, 17);
  --first-text-color-1: rgb(221, 221, 210);
  --first-text-color-2: rgb(161, 157, 154);
  --first-text-color-3: rgb(24, 23, 21);
  --background-color-2: rgb(229, 229, 224);
  --second-text-color-1: rgb(57, 54, 50);
  --second-text-color-2: rgb(58, 55, 51);
  --second-text-color-3: rgb(119, 113, 106);
}

* {
  margin: 0;
  padding: 0;
  font-smooth: always;
  font-smooth: antialiased;
  scroll-behavior: smooth !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-scroll-behavior: smooth !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  background-color: var(--background-color-2);
  color: var(--second-text-color-2);
}

body {
  min-height: 100vh;
  font-family: var(--satoshi-font);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.orange-color {
  color: #ff7b00;
}

.text-only-outline {
  color: var(--black-color);
  text-shadow: -1px -1px 0 var(--black-color), 1px -1px 0 var(--black-color),
    -1px 1px 0 var(--black-color), 1px 1px 0 var(--black-color);
}

@supports (
  (text-stroke: 1px var(--black-color)) or
    (-webkit-text-stroke: 1px var(--black-color))
) {
  .text-only-outline {
    color: transparent;
    -webkit-text-stroke: 1px var(--black-color);
    text-stroke: 1px var(--black-color);
    text-shadow: none;
  }
}
