:root {
  --satoshi-font: "Satoshi", sans-serif;
  --switzer-font: "Switzer", sans-serif;
  --clash-font: "Clash Grotesk", sans-serif;
  --background-color-1: #111111;
  --text-color-1: rgb(208, 208, 198);
  --text-color-2: rgb(161, 157, 154);
  --text-color-3: rgb(24, 23, 21);
  --background-color-2: rgb(229, 229, 224);
  --text-color-1: rgb(57, 54, 50);
  --text-color-2: rgb(58, 55, 51);
  --text-color-3: rgb(119, 113, 106);
}

* {
  margin: 0;
  padding: 0;
  font-smooth: always;
  font-smooth: antialiased;
  scroll-behavior: smooth !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-scroll-behavior: smooth !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  background-color: var(--background-color);
  color: var(--font-color);
}

body {
  min-height: 100vh;
  font-family: var(--satoshi-font);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
